.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form {
    padding: 3rem;
    background-color: #f8f9fa;
    color: #343a40;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .form {
        width: 100%;
    }
}

.add-details-button {
    line-height: 1.2; /* Adjust as needed */
    box-sizing: border-box;
    max-height: 100px;
    /* Other styles... */
}

@media screen and (max-width: 768px) {
    .add-details-button {
        line-height: 1.2; /* Adjust as needed */
        /* Other styles... */
    }
}